.typing {
    animation: 
        cursor .4s step-end infinite alternate;
}

@keyframes cursor {
    50% {
        border-right-color: transparent;
    }
}

@keyframes typing {
    0% {
        width: 0
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
}